<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Id</h3>
    <p>{{asset.id}}</p><hr>
    <h3>Name</h3>
    <p>{{asset.name}}</p><hr>
    <h3>Asset Type</h3>
    <p>{{asset.assetType}}</p><hr>
    <h3>Asset Value</h3>
    <p>{{asset.assetValue}}</p><hr>
    <h3>Annual Depreciation</h3>
    <p>{{asset.annualDepreciation}}</p><hr>
    <h3>Used years</h3>
    <p>{{asset.yearsUsed}}</p><hr>
</body>
</html>