<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NonCurrent Assets</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="assets/add">Add Asset</a></li>
                <li>Show Assets</li>
                <li>Delete Assets</li>
            </ul>
        </nav>
    </header>

    <div class="content_section">

    </div>
</body>
</html>