

/* table */

.assets-table{
    margin: 5px;
    border-collapse: collapse;
    width: 100%;
    color: #FDC084;
}

.assets-table td, .clubs-table th {
    border: 1px solid #FDC084;
}

.assets-table tr:nth-child(even){
    background-color: #5e73eba9;
}

.assets-table tr:hover {
    background-color: #120c6e;
}

.assets-table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #0B0742;
}