<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='' method = "POST">
        <p>Asset ID <input type = "integer" name="id" value = "asset.id" /></p>
        <p>Asset Name <input type = "text" name="name" value = "asset.name" /></p>
        <p>Asset Type <input type = "text" name="assetType" value = "asset.assetType" /></p>
        <p>Asset Value <input type = "integer" name="assetValue"  value = "asset.assetValue" /></p>
        <p>Annual Depreciation <input type = "integer" name="annualDepreciation" value = "asset.annualDepreciation" /></p>
        <p>Years Used <input type = "integer" name="yearsUsed" value = "asset.yearsUsed" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>
</html>